<html>
  <h1>Change to User</h1>
  <body>
    <style type="text/css">
      label{
        width:100px;
        display:inline-block;
      }
    </style>
    <form action = "manage/options/change_to_user" method = "post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for ="manager_name">Manager username:</label<br>
    <input type="text" id="manager_name" name="manager_name"><br>
    <label for ="manager_password">Manager password:</label<br>
    <input type="text" id="manager_password" name="manager_password"><br><br>
    <input type="submit" value="Submit">

    </form>
  </body>
</html>
